// import
@import "./settings" ; 
@import "./layouts/header"; 
@import"./layouts/section" ; 
@import "./layouts/footer" ; 

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//  fonts




//  colors



// mixin 


// body 








//  button , list , etc..
